
/** MEDIA QUERIES **/

@media (min-width: 768px) {
  
  /** HEADER **/

  .main-header-portfolio {
  	position: fixed;
  	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  	width: 100%;
  	top: 0;
  }
  
  .nav-links li {
  	display: inline-block;
  }

  .nav-links li a {
  	background-color: transparent;
  	padding-left: 25px;
  	padding-right: 25px;
  	text-align: center;
  }

  .nav-links li a:hover {
		border-bottom: 3px solid #574bed;
		margin-bottom: -3px;
		background-color: transparent;
		color: #3e3e3e;

	}

	.nav-links li a.selected {
		border-bottom: 3px solid #574bed;
		margin-bottom: -3px;
		background-color: transparent;
		color: #3e3e3e;
	}


	.profile-desc {
  	font-size: 1.1em;
  	font-weight: 300;
  	max-width: 60%; 
  	padding-top: 40px;
  	text-align: left;
  	float: left;
  	 
  }

	.profile-pic {
		float: right;
		max-width: 38%;
  }

 	/** COLUMN LAYOUT **/

  .main-container-portfolio{
  	margin-top: 175px;
  }

	.project {
		display: inline-block;
		width: 50%; 
		margin-right: -4px;
		vertical-align: top; /** this was tough, had to use Guil video, but got it! let's go over it. Also is it better to use inlin-block or float here. When I used float, I couldn't center right element in its container **/	
		padding-bottom: 25px;
	}

	/** FOOTER **/

  .back-to-top {
  	display: none;
  }

  .nav-bar-footer {
  	display: inline-block;
  	width: 65%;
  	text-align: right;
  }

  .student-name {
  	width: 20%;
  }

  /** CONTACT FORM **/


	.form-name label,
	.form-email label {
		margin-right: 35px;
	}

	.form-name input {
		margin-left: -5px;
	}


	input,
	textarea {
		width: 250px;
	}

}

@media (min-width: 1024px) {
	
	.main-header h1 {
		display: inline-block;
	}

	.nav-bar {
		display: inline-block; 
		width: 75%;
		text-align: right;
	}

	.profile-pic {
		width: 38%;
		max-width: 450px;
	}

	.project {
		width: 33%;
	}

}




