//Center text

%centered {
	text-align: center;
}

//input style

%input-field {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: $color-border;
	width: 200px;

	@include tablet {
		width: 250px;
	}
}

//Links

%active-link {
	border-bottom: 3px solid $color-active;
	margin-bottom: -3px;
	background-color: $transparent;
	color: $color-nav-links;
}

