/** FOOTER **/

footer {
	display: block;
	margin: 0 auto; 
	text-align: center;
	background-color: #f9f9f9;
	padding-bottom: 15px;
}

.footer-headline {
	padding: 50px 0 15px;
	color: #4b4b4b;
	text-transform: uppercase;
	font-size: 1.2em;
}

footer p {
	max-width: 85%;
	margin: 0 auto 35px;
}

.footer-phone p,
.footer-email p {
	display: inline-block;
	padding-right: 15px;
}

.footer-phone {
	height: 35px;
}

.footer-email {
	border-bottom: 1px solid #e7e7e7; 
	max-width: 85%;
	margin: 0 auto 10px;
}

.student-name {
	display: inline-block;
	width: 42.5%;
	text-align: left;

}

.back-to-top {
	display: inline-block;
	width: 42.5%;
	text-align: right;
}

.footer-phone a,
.footer-email a {
	color: #787878;
	font-size: 1.3em;
	font-weight: 700;
}

.student-name {
	color: #4b4b4b;
	font-size: 1.2em;
}

.back-to-top {
	color: #4b4b4b;
	font-size: 1.1em;
	text-transform: uppercase;
}

.nav-bar-footer {
	display: none;
}
