/** FOOTER **/

footer {
	@extend %centered;
	display: block;
	margin: 0 auto; 
	background-color: $color-bgd;
	padding-bottom: 15px;
}

.footer {
	
	&-headline {
	color: $color-text-dark;
	padding: 50px 0 15px;
	text-transform: uppercase;
	font-size: $font-size-main;
	
	}

	&-phone p,
	&-email p {
	display: inline-block;
	padding-right: 15px;
	
	}

	&-phone {
	height: 35px;
	}

	&-email {
	border-bottom: 1px solid $color-divider; 
	max-width: 85%;
	margin: 0 auto 10px;
	}

	&-phone a,
	&-email a {
	color: $color-text-light;
	font-size: $font-size-foot-anchor;
	font-weight: $font-weight-heavy;
	}

	&-contact {
		padding-top: 35%
	}
}

footer p {
	max-width: 85%;
	margin: 0 auto 35px;
}


.student-name {
	display: inline-block;
	width: 42.5%;
	text-align: left;

}

.back-to-top {
	display: inline-block;
	width: 42.5%;
	text-align: right;
}

.student-name {
	color: $color-text-dark;
	font-size: $font-size-main;

	@include tablet {
		width: 20%;
	}
}

.back-to-top {
	color: $color-text-dark;
	font-size: $font-size-small;
	text-transform: uppercase;

	@include tablet {
		display: none;
	}
}

.nav-bar-footer {
	display: none;

	@include tablet {
		display: inline-block;
	  	width: 65%;
	  	text-align: right;
	}
}


