/** FORM **/

form {
	@include margin-top(25px);
}

.form {
	
	&-name {
		margin-bottom: $form-bottom-margin;
	}

	&-email {
		margin-bottom: $form-bottom-margin;
	}

	&-name label,
	&-email label {
		color: $color-text-light;
		margin-right: 30px;
		font-size: 1.2em;

		@include tablet {
			margin-right: 35px;
		}
	}

	&-name input {
		margin-left: -5px;
	}

	&-msg label {
		color: $color-text-light;
		vertical-align: top;
		font-size: 1.2em;
	}
}


input {
	@extend %input-field;
	height: 25px;
}

textarea {
	@extend %input-field;
}




