/** MAIN-HEADER **/

.main-header {
	@extend %centered;
	display: block;
	background-color: $color-bgd;
	color: $color-text-dark;
	padding-bottom: 30px;

	h1 {
		color: $color-text-dark;
		padding: 35px 0 15px 0;
		margin: 0;
		font-weight: $font-weight-heavy;

		@include desktop {
			display: inline-block;
		}
	}
}

.nav-bar {

	@include tablet {
		display: inline-block;
	}

	@include desktop {
		display: inline-block; 
		width: 75%;
		text-align: right;
	}
}

.nav-links {
	color: $color-text-dark;
	list-style: none;
	padding: 0;

	@include tablet {
		li {
	  		display: inline-block;

	  		a {
			  	background-color: $transparent;
			  	padding-left: 25px;
			  	padding-right: 25px;
			  	text-align: center;
	  		}

	  		a:hover {
				@include active-link;
			}

			a.selected {
				@include active-link;
			}
	  	}
	}
}

.profile {
	
	&-pic {
		max-width: 70%;
		display: block;
		margin: 50px auto 30px;

		@include tablet {
			float: right;
			max-width: 38%;
		}

		@include desktop {
			width: 38%;
			max-width: 450px;
		}	
	}

	&-desc {
		@include tablet {
		  	font-size: $font-size-small;
		  	font-weight: $font-weight-light;
		  	max-width: 60%; 
		  	padding-top: 40px;
		  	text-align: left;
		  	float: left;

		}
	} 
}










