.button {
	@include margin-top(10px);
	background-color: $color-button;
	width: 225px;
	height: 40px;
	margin-left: 110px;
	color: $white;
	border-color: $transparent;
}

.nav-button {
	width: 60px;

	a {
		position: absolute;
		left: 30px;
		top: 35px;
	}

	@include tablet {
		display: none;
	}
}

