/** BASE STYLES **/

body {
	font-family: $font-family-roboto;
}

p {
	@extend %para-span;	
} 

span {
	@extend %para-span;
}

.clearfix:after {
	@extend %clearfix;
}

a {

	text-decoration: none;
	cursor: pointer;
	
	&:focus {
		color: $color-text-dark;
	}

	&:hover {
		color: $color-active;
	}
}

li {
	
	a {
		color: $color-text-dark;
		text-transform: uppercase;
		display: block;
		padding: 10px 0;
		margin: 5px auto;
		background-color: $white;
		max-width: 90%;
		font-weight: $font-weight-super-heavy;
	
	}

	& a:hover,
	& a.selected  {
		background-color: $color-active;
		color: $white;
	}
}

.hidden {
	display: none;
}

