//paragaraph and span style 

%para-span {
	line-height: 1.5;
	max-width: 85%;
	margin: auto;
	font-size: $font-size-main;
	color: $color-text-light;
}

//clearfix

%clearfix {
	content: "";
	display: table;
	clear: both;
}